---
layout: page
title: FAQ
heading: FAQ
permalink: /faq/
---

<section id="faq">
  <div class="container">
    <div class="row">
      <h1 class="text-center">FAQ</h1>
    </div>
    <div class="row">
      <ul class="faq-list list-unstyled">
        {% for faq in site.data.faq.questions %}
          <li><a href="#question{{ faq.id }}">{{ faq.question }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="row">
      {% for faq in site.data.faq.questions %}
      <div id="question{{ faq.id }}" class="question">
        <h4 class=""><strong>{{ faq.question }}</strong></h4>
        <p>{{ faq.answer}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
