<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ '/assets/js/main.js' | relative_url }}"></script>

<script type="text/javascript">
// display small top bar CTA
$(function() {
  setTimeout(function () {
      $('.smart-bar').css({"top": "0"});
      $('.navbar-custom.navbar-fixed-top').css({"top": "60px"});
      $('.intro').css({"padding-top": "140px"});
  }, 2000);
});

$('.smart-bar').on('close.bs.alert', function () {
  $('.navbar-custom.navbar-fixed-top').css({"top": "0"});
  $('.intro').css({"padding-top": "80px"});
});

$('.smart-bar a').on('click', function(event) {
    $(this).parent().alert('close');
});

</script>

<!-- SendinBlue validation -->
<script type="text/javascript">
    var sib_prefix = 'sib';
</script>
<script type='text/javascript' src='https://my.sendinblue.com/public/theme/version4/assets/js/src/subscribe-validate.js?v=1.0'></script>
<script type='text/javascript'>
    jQuery.noConflict(true);
</script>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68891710-1', 'auto');
  ga('send', 'pageview');
  setTimeout("ga('send', 'event', 'adjusted bounce rate', 'page visit 15 seconds or more')", 15000);

  (function($) {
    // any click event will cancel Bounce Rate
    $('body').click(function () {
      ga('send', 'event', 'Engaged users', 'User clicked somewhere on the page');
    });

    $('mc-embedded-subscribe').submit(function () {
      ga('send', 'event', 'signup', 'newsletter conversion');
    });
  })(jQuery);
</script>

<!-- initialize bootstrap tooltips -->
<script type='text/javascript'>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
