//colors
$color_log_cabin_approx: #222;
$white_30: rgba(255, 255, 255, 0.3);
$white: white;
$color_eminence_approx: #671b76;
$color_primary: #b02ec9;
$color_apple_blossom_approx: #a94442;
$color_vanilla_ice_approx: #f2dede;
$color_killarney_approx: #3c763d;
$color_willow_brook_approx: #dff0d8;
$white_80: rgba(255, 255, 255, 0.8);
$color_bon_jour_approx: #e1e1e1;
$color_alabaster_approx: #fcfcfc;
$white_20: rgba(255, 255, 255, 0.2);
$color_celeste_approx: #cccccc;

//fonts
$font_0: "Open Sans";
$font_1: "Arial";
$font_2: "sans-serif";
$font_3: "Montserrat";
$font_4: "Helvetica Neue";
$font_5: "Helvetica";
$font_6: "Source Sans Pro";

//urls
$url_0: url("../img/downloads-bg.jpg");
